:root {
    background-color: #181818;
    color: rgb(255 255 255 / 87%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color-scheme: dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;

    --black: #181818;
    --white: #fff;
    --gray-modal: #2c2c2e;
    --gray-modal-inner: #414143;
    --gray-modal-inner-lighten: #5a5a5e;
    --gray-modal-inner-darken: #28282a;
}

body {
    min-width: 1320px;
    min-height: 100vh;
    margin: 0;
}

#app {
    min-height: 100vh;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
